*{
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--background);
}
:root{
  --background: rgb(224, 220, 220);
  --text: black;
  --boxe: rgb(240, 240, 240);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid rgb(222, 218, 218);

  .leftIcon{
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(232, 232, 232, 0.842);

  }
  input{
    background-color: rgba(232, 232, 232, 0.842);
    border: none;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }
  .icons{
    display: flex;
    gap: 15px;
    color: rgb(59, 59, 62);
  }
  .search{
    width: 15px;
  }
  .light{
    padding: 5px;
    border-left: 1px solid rgb(191, 188, 188);
    border-right: 1px solid rgb(186, 185, 185);
  }
}
.dark{
  --background: black;
  --text: white;
  --boxe: black
}
.sidebar{
  background-color: #131c24;
  font-size: small;
  width: 18%;
  height: 100vh;
  color: rgba(232, 232, 232, 0.842);
  li{
    display: flex;
    height: 30px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  li:hover{
    cursor: pointer;
    background-color: #2d3944;
  }
  li #active{
    background-color: #2d3944;
  }
  h3{
    padding: 14px;
    border-bottom: 1px solid rgb(202, 198, 198);
  }
  #icon{
    flex: 10%;
  }
  #title{
    flex: 40%;
  }
  #button{
    flex: 5%;
  }
  #Arrow{
    flex: 10%;
  }
  
}

.body{
  width: 82%;
  
}
.dashboard{
  background-color: var(--background);
  padding: 10px;
  
  .part1{
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  .sale{
    padding: 10px;
    width: 15rem;
    height: 13rem;
    border-radius: 5px;
    background-color: white;
  }
  .cus-order{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    .customer, .order{
      background-color: white;
      width: 50%;
      height: 6rem;
      border-radius: 5px;
    }
  }
  .traffic{
    width: 70%;
    background-color: white;
    border-radius: 5px;
  }

  .part2{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    .users{
      background-color: white;
      width: 77%;
      height: 25rem;
      border-radius: 5px;
    }
    .rating{
      .box{
        width: 11rem;
        border-radius: 5px;
        height: 7.5rem;
        margin-bottom: 20px;
        background-color: white;
      }
    }

  }
  .part3{
    .graphs{
      background-color: white;
      width: 98%;
      height: 25rem;
      border-radius: 5px;
    }
  }
}
.Calendar{
  background-color: rgb(240, 240, 240);
  padding: 15px;
  .link{
    display: flex;
    flex-direction: row;
  }
  .text{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 7px;
    background-color: rgb(227, 225, 225);
  }
  .full{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    height: fit-content;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
  }
  .date{
    padding: 10px;
    background-color: white;
    color: rgb(36, 114, 239);
  }
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(201, 200, 200);
}

@media(max-width: 900px){
  .App{
    display: block;
    grid-template-columns: none;
  }
  .header{
    width: 90%;
  }
  .dashboard{
    display: block;
  }
  .sidebar{
    display: block;
  }
}