*{
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(202, 198, 198);
  input{
    background-color: rgb(240, 240, 240);
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
}
.sidebar{
  background-color: rgb(5, 1, 30);
    height: 100vh;
    width: 15%;
    color: rgba(232, 232, 232, 0.842);

  li{
    display: flex;
  }
}

.body{
  width: 90%;
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}