
body{
  background-color: rgb(24, 24, 38);
  color: white;
}
.navbar{
  display: flex;
 justify-content: space-between;
 background-color: rgb(5, 5, 14);
 align-items: center;

 p{
  font-style: italic;
  background-color: rgb(5, 19, 50);
  padding: 8px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
 }
}
ul{
  display: flex;
  list-style: none;
  gap: 8rem;
}
a{
  text-decoration: none;
  color: azure;
}

.Home{
  display: flex;
  background-color: rgb(5, 5, 14);
  padding: 30px;

}
.About{

}
.aboutMe{
    display: flex;
}

.footer{
  background-color: rgb(5, 5, 14);
  padding: 30px;
  font-size: x-small;
  p{
    margin-left: 40%;
  }
}
